<div class="mainarea">
  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third">
        <h1 class="title has-text-centered">Password Generator</h1>

        <div class="field">
          <label>Password Length</label>
          <input
            class="input"
            (change)="modifyLength($any($event.target).value)"
          />
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyLetter()" type="checkbox" />
              Use ABC
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifyNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="modifySymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>

        <button
          [disabled]="
            !(length && (includeLetters || includeSymbols || includeNumbers))
          "
          [disabled]="!length"
          (click)="btnclick(); resetCopyButton()"
          class="button is-link is-fullwidth"
           [ngClass]="{'copied-button': copied}"
        >
          Create 
        </button>

        <div class="box" *ngIf="password">
          <label>Your Password</label>
          <input class="input" readonly="true" [value]="password" />
          <button
            [disabled]="!password"
            (click)="copyToClipboard()"
            class="button is-primary copy-button"
            [textContent]="copyButtonText"
          >
          {{ copyButtonText }}
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div>