<h2>Password Generator</h2>

<div>
  <label> Password Lenght : </label>
  <input  (change)="modifyLength($any($event.target).value)" type="number" />
</div>
<div>
  <label> Use ABC</label>
  <input (change)="modifyLetter()" type="checkbox" />
</div>
<div>
  <label> Use Numbers</label>
  <input (change)="modifyNumbers()" type="checkbox" />
</div>
<div>
  <label> Use Symbol</label>
  <input (change)="modifySymbols()" type="checkbox" />
</div>

<div>
    <button (click)="btnclick()">Create</button>
</div>

<div>
    <label> Your Password :  </label>
    <input [value]="password" />
  </div>
